<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e54b9c3-8a80-45f2-9823-660fc8747d0d/resourceGroups/resGroupSDB/providers/Microsoft.Web/sites/mistyfalcon</ResourceId>
    <ResourceGroup>resGroupSDB</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mistyfalcon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>mistyfalcon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mistyfalcon</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mistyfalcon</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:azuresdbcloud.database.windows.net,1433;Initial Catalog=MainData;Integrated Security=False;User ID=Flokky;Password=fl20az17FOT;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:azuresdbcloud.database.windows.net,1433;Initial Catalog=MainData;Integrated Security=False;User ID=Flokky;Password=fl20az17FOT;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HBM.Web.Contexts.ApplicationDbContext, HBM.Web" MigrationConfiguration="HBM.Web.Migrations.Configuration, HBM.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MainDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azuresdbcloud.database.windows.net,1433;Initial Catalog=MainData;Integrated Security=False;User ID=Flokky;Password=fl20az17FOT;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>