@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The site is created under MIT license. You can see code on <a href="https://github.com/Vardir/HumanBehaviorModel">GitHub</a>.</p>
<p>For any question, please, <a href="http://mistyfalcon.azurewebsites.net/Home/Contact">contact us</a></p>