@{
    ViewBag.Title = "About";
    if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", "Home", new { page="About" })" class="float-right btn-outline-secondary">
            <i class="fa fa-cog fa-2x"></i>
        </a>
    }
}
<h2>@ViewBag.Title</h2>

@RenderPage("Content/About.cshtml")