@{
    ViewBag.Title = "Contact";
}
<h2>Contact us</h2>

<address>
    MistyFalcon & Co<br />
    Ukraine, Mykolaiv<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andriy.satura@gmail.com">andriy.satura@gmail.com</a><br />
    <strong>Info:</strong> <a href="mailto:pandushechka@gmail.com">pandushechka@gmail.com</a>
</address>