@{
    ViewBag.Title = "Contact";
    if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", "Home", new { page="Contact" })" class="float-right btn-outline-secondary">
            <i class="fa fa-cog fa-2x"></i>
        </a>
    }
}
<h2>Contact us</h2>

@RenderPage("Content/Contact.cshtml")    