@using HBM.Web.Models
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Edit", "Home", new { page="Index" })" class="float-right btn-outline-secondary">
        <i class="fa fa-cog fa-2x"></i>
    </a>
}

@RenderPage("Content/Index.cshtml")