<address id="adress">
    MistyFalcon & Co<br />
    Ukraine, Mykolaiv<br />
</address>

<address id="contacts">
    <strong>Support:</strong><a href="mailto:andriy.satura@gmail.com">andriy.satura@gmail.com</a><br />
    <strong>Info:</strong> <a href="mailto:pandushechka@gmail.com">pandushechka@gmail.com</a>
</address>