body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(16, 16, 71, 0.08);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    max-width: 500px;
}
input,
select {
    max-width: 300px;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none
}

.form-center {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.post-thumb {
    width: 70%;
    margin: 0 auto;
}

.img-preview {
    width: 30%;
    margin: 0 auto;
    padding: 40px;
}

.img-preview-2 {
    width: 30%;
    padding: 10px;
    margin-left: 25%;
}

.show-search #searchform input#s {
    width: 200px;
    padding: 10px 13px;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    border: 1px solid #eee;
}

.social-share ul li {
    list-style: none;
    display: inline-block;
}
.show-search {
    position: absolute;
    z-index: 10000;
    top: 100%;
    right: 7.5%;
    display: none;
}

.social-share ul li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #C2C2C2;
}
.widget .social-share ul li a i {
    height: 33px;
    width: 33px;
    line-height: 33px;
    font-size: 15px;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #C2C2C2;
}

.social-share ul li a i:hover {
    background: #00BFF3;
    color: #FFF;
    border-color: #00BFF3;
}

/* ===============
post css
 ===================*/
.main-content {
    margin-top: 50px;
}

article {
    border: 1px solid #eee;
}

.entry-header {
    margin: 40px 0 23px;
}

.entry-header h1 a, .entry-header h6 a {
    text-decoration: none;
    letter-spacing: 0.5px;
}

.entry-header h1 {
    margin-top: 0;
    font-size: 24px;
}

.entry-header h6 {
}

.entry-header h6 a {
    color: #00acdf;
    font-weight: 700;
    font-size: 10px;
}

.entry-header h1 a {
    font-weight: 600;
    color: #333333;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 24px;
    line-height: 34px;
}

.entry-header h1 a:hover {
    color: #00acdf;
}

.post-thumb img {
    width: 100%;
}

a.more-link {
    font-size: 12px;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 10px 20px;
    text-decoration: none;
    margin: 24px 0 28px;
    display: inline-block;
    color: #00BFF3;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

a.more-link:hover {
    background: #00BFF3;
    color: #fff;
    border-color: #00BFF3;
}

.post {
    background: #fff;
    margin-bottom: 50px;
}

.post-content {
    padding: 0 43px;
    overflow: hidden;
}

.post .social-share {
    border-top: 1px solid #EEE;
    padding: 15px 0px 75px;
}

.social-share span a {
    color: #333;
}

.social-share-title {
    padding: 9px 0;
    font-style: italic;
    font-size: 13px;
    margin-left: 15px;
}

.decoration {
    margin-bottom: 15px;
}

.social-share span a:hover {
    color: #00BFF3;
    text-decoration: none;
}

.post-thumb {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.post-thumb:hover .post-thumb-overlay {
    opacity: 1;
}

.post-thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.post-thumb-overlay div {
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 132px;
    border: 1px solid #fff;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: 50%;
    letter-spacing: 1px;
    margin: 5px;
    margin-top: -18px;
    text-transform: uppercase;
}

.bottom-comment {
    background: #fff;
    padding: 20px;
    margin: 50px 0;
    color: #212121;
    overflow: hidden;
}

.bottom-comment .comment-text {
    padding: 2px;
}

.bottom-comment h4 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-comment .comment-img {
    padding: 10px 15px 100px;
    float: left;
}

.bottom-comment h5 {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.bottom-comment p.comment-date {
    color: #888888;
}

.bottom-comment p.para {
    color: #212121;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 5px;
}

.bottom-comment a.replay {
    text-transform: uppercase;
    color: #212121;
    background: #eee;
}

.bottom-comment a.replay:hover {
    background-color: #ddd;
}

.leave-comment {
    background-color: #fff;
    margin: 30px 0;
    padding: 20px;
    color: #212121;
}

.leave-comment h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.leave-comment input, .leave-comment textarea {
    background-color: #FAFAFA;
    color: #999999;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    padding: 20px;
    border-color: #eee;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
}

.leave-comment input[type="text"] + input[type="email"] {
    border: 1px solid #eeeeee;
    font-style: italic;
}

.avatar-block {
    min-height: 50px;
    float: left;
    width: 50px;
    background-color: rgba(40, 167, 69, 1);
    display: block;
    border-radius: 50%;
    top: 50%;
    padding: 0px !important;
    margin-right: 15px;
}

.avatar-span {
    display: block;
    transform: translate(38%, calc(-0.5em + 60%));
    color: white;
    font-size: 16pt;
}

.irc_mi {
    box-shadow: none !important;
}

/*
.decoration a {
    color: #60c7eb;
    border: 1px solid #60c7eb;
    font-size: 14px;
    height: 35px;
    width: 105px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    margin: 30px 6px 30px 0;
}

.decoration a:hover {
    color: #fff;
    border: 1px solid #60c7eb;
    background-color: #60c7eb;
}
    */