@using HBM.Web.Models
@using HBM.Web.ViewModels
@model System.Collections.Generic.IEnumerable<Permission>
@{
    ViewBag.Title = "Permissions";
}

<h2>Permissions</h2>

<table class="table table-striped table-sm border border-success">
    <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model)
        {
            <tr>
                <td>@permission.Key</td>
                <td>
                    @if (!permission.IsLocked)
                    {
                        <a class="btn btn-outline-danger" href="@Url.Action("DeletePermission", "Manage", new { id = permission.Id })">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_CreatePermission", new PermissionCreateViewModel())