@using HBM.Web.ViewModels
@using HBM.Web.Models
@model System.Collections.Generic.IEnumerable<Tag>
@{
    ViewBag.Title = "Tags";
}

<h2>Tags</h2>

<table class="table table-striped table-sm border border-success w-50">
    <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Key</td>
                <td>
                    <a class="btn btn-outline-success tooltip" href="@Url.Action("EditTag", "Manage", new { id=tag.Id })">
                        <i class='fa fa-pencil'></i>
                        <span class="tooltiptext">Edit</span>
                    </a>
                    <a class="btn btn-outline-danger tooltip del" href="@Url.Action("DeleteTag", "Manage", new { id = tag.Id })">
                        <i class='fa fa-unlink'></i>
                        <span class="tooltiptext">Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
    $("body").on("click", ".del", function (e) {
        return confirm("Do you want to delete this tag?");
    });
    </script>
}